{%
    set fightsMob = [
        {
            title: 'UFC Fight Nights',
            date: '5 июня',

            idLeft: 'tibyra',
            nameLeft: 'Марчин<br> Тыбура',
            countryLeft: '(Польша)',

            idRight: 'harris',
            nameRight: 'Уолт<br> Харрис',
            countryRight: '(США)'
        },
        {
            title: 'UFC Fight Nights ',
            date: '12 июня',

            idLeft: 'fig',
            nameLeft: 'Дейвесон<br> Фигейредо',
            countryLeft: '(Польша)',

            idRight: 'moreno',
            nameRight: 'Брэндон<br> Морено',
            countryRight: '(США)'
        },
        {
            title: 'UFC 264',
            date: '10 июля',

            idLeft: 'konor',
            nameLeft: 'Конор<br> МакГрегор',
            countryLeft: '(Польша)',

            idRight: 'pore',
            nameRight: 'Дастин<br> Порье',
            countryRight: '(США)'
        }
        ,
        {
            title: 'UFC Fight Nights',
            date: '5 июня',

            idLeft: 'tibyra',
            nameLeft: 'Марчин<br> Тыбура',
            countryLeft: '(Польша)',

            idRight: 'harris',
            nameRight: 'Уолт<br> Харрис',
            countryRight: '(США)'
        },
        {
            title: 'UFC Fight Nights ',
            date: '12 июня',

            idLeft: 'fig',
            nameLeft: 'Дейвесон<br> Фигейредо',
            countryLeft: '(Польша)',

            idRight: 'moreno',
            nameRight: 'Брэндон<br> Морено',
            countryRight: '(США)'
        },
        {
            title: 'UFC 264',
            date: '10 июля',

            idLeft: 'konor',
            nameLeft: 'Конор<br> МакГрегор',
            countryLeft: '(Польша)',

            idRight: 'pore',
            nameRight: 'Дастин<br> Порье',
            countryRight: '(США)'
        }
    ]
%}