.popup-reg {
    background: rgba(81, 81, 81, 0.3);
    backdrop-filter: blur(15px);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    overflow: auto;
    &__box {
        background: #ffffff;
        border-radius: 10px;
        max-width: 533px;
        width: 90%;
        padding: 60px 105px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo {
        max-width: 87px;
        margin-bottom: 25px;
    }

    &__overlay {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .form {
        max-width: 100%;
        width: 100%;

        &__title {
            font-weight: 500;
            font-size: 22px;
            line-height: 130%;
            color: #232323;
            margin-bottom: 0;
            font-family: $TTCommons;
        }

        &__text {
            font-size: 14px;
            line-height: 110%;
            color: #414552;
            margin-bottom: 25px;
        }

        &__items {
            flex-direction: column;
            align-items: flex-start;
        }

        &__item {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            text-align: left;
            margin-right: 0;

            &:last-child {
                margin-bottom: 45px;
            }

            span {
                font-size: 14px;
                line-height: 100%;
                color: #979797;
                display: block;
                margin-bottom: 5px;
            }
        }

        &__input {
            height: 40px;
            background: #f3f3f5;
            border-radius: 4px;
        }

        &__button {
            height: 40px;
            max-width: 100%;
        }
    }
}

.popup-user {
    background: url("../img/popup-reg/fon.jpg") no-repeat center center / cover;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    overflow: auto;

    &__box {
        background: #ffffff;
        border-radius: 10px;
        width: 90%;
        max-width: 350px;
        padding: 60px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo {
        max-width: 87px;
        margin-bottom: 25px;
    }

    &__overlay {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        color: #ffffff;
    }

    .form {
        max-width: 100%;
        width: 100%;

        &__title {
            font-weight: 500;
            font-size: 22px;
            line-height: 130%;
            color: #232323;
            margin-bottom: 0;
            font-family: $TTCommons;
        }

        &__text {
            font-size: 14px;
            line-height: 110%;
            color: #414552;
            margin-bottom: 25px;
        }

        &__items {
            flex-direction: column;
            align-items: flex-start;
        }

        &__item {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            text-align: left;
            margin-right: 0;

            &:last-child {
                margin-bottom: 45px;
            }

            span {
                font-size: 14px;
                line-height: 100%;
                color: #979797;
                display: block;
                margin-bottom: 5px;
            }
        }

        &__input {
            height: 40px;
            background: #f3f3f5;
            border-radius: 4px;
            border: 1px solid #f3f3f5;
        }

        &__txt {
            font-size: 14px;
            line-height: 100%;
            color: #979797;
            display: block;
            margin: 10px 0;
            text-align: center;
            width: 100%;
        }

        &__wrap {
            display: flex;
            max-width: 160px;

            input {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 0 0 0;
                margin-right: 5px;
                max-width: 36px;
                height: 36px;
                text-align: center;
                background: #f3f3f5;
                border-radius: 4px;
                border: 1px solid #f3f3f5;
            }
        }

        &__button {
            height: 40px;
            max-width: 100%;
            padding-top: 4px;
            font-size: 18px;
            &-blue {
                background: #0048ff;
            }
        }

        &__code {
            background: #f3f3f5;
            border-radius: 4px;
            white-space: nowrap;
            height: 40px;
            font-size: 16px;
            line-height: 100%;
            color: #232323;
            margin: 15px 0;
            padding-top: 4px;
            justify-content: space-between;
            span {
                display: block;
            }
        }

        &__number {
            border: 1px solid #d0d1d9;
            border-radius: 4px;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #232323;
            height: 40px;
            background: transparent;
            padding-top: 4px;
            &:hover,
            &:focus,
            &:active {
                box-shadow: none;
            }
        }
    }

    .select {
        max-width: 100%;
        margin-right: 0;
        .jq-selectbox__select {
            background: #f3f3f5;
            border-radius: 4px;
            box-shadow: none;
            border-radius: inherit;
            text-shadow: inherit;
            height: 40px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .jq-selectbox .placeholder,
        .jq-selectbox__select-text {
            font-size: 15px;
            color: #232323;
        }
        .jq-selectbox ul {
            padding: 15px 0;
        }
        .jq-selectbox li {
            font-size: 16px;
            padding: 5px 15px;
        }
        .jq-selectbox li.selected {
            background: #fafafa;
            font-weight: 600;
            color: #232323;
        }
        .jq-selectbox li:hover {
            background: #fafafa;
            font-weight: 600;
            color: #232323;
        }
        .jq-selectbox__trigger-arrow {
            background-image: url("../img/popup-reg/arrow.svg");
            width: 12px;
            height: 6px;
            right: 16px;
        }
    }
}

.popup-log {
    .form {
        &__title {
            margin-bottom: 25px;
        }
    }
}
.popup-sms,
popup-error {
    .form {
        &__item {
            align-items: center;
        }
    }
}

.popup-verification,
.popup-success,
.popup-success-2 {
    .popup-user__box {
        max-width: 645px;
        padding: 60px 80px;
    }
    .form {
        &__items {
            flex-direction: row;
        }
        &__title {
            margin-bottom: 25px;
        }
        &__skip {
            height: 40px;
            background: #f3f3f5;
            border-radius: 4px;
            font-size: 18px;
            color: #232323;
            font-weight: 400;
            margin-left: 15px;
        }
    }
}

.popup-faq {
    .popup-user__box {
        max-width: 533px;
        padding: 70px;
    }
    .form {
        &__title {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        &__textarea {
            height: 93px;
        }
    }
}

.popup-password {
    .form__title {
        line-height: 1;
        margin-bottom: 12px;
    }

    .form__item {
        position: relative;
        > div {
            position: relative;
        }
    }
    .form__password {
        cursor: pointer;
        width: 12px;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

.popup-success-2 {
    .form {
        &__title {
            margin-bottom: 10px;
        }
        &__text {
            font-style: italic;
            font-size: 16px;
            line-height: 130%;
            color: #232323;
        }

        &__button {
            max-width: 235px;
            height: 40px;
            margin: 0 auto;
        }
    }
}

.popup-application {
    @include adaptiv-value("padding", 80, 60, 20);
    background: #fff;
    max-width: 1175px;

    &__item {
        @include adaptiv-value("font-size", 24, 16, 16);
        color: #232323;
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 30px;
        @include adaptiv-value("font-size", 52, 28, 20);
    }

    &__subtitle {
        font-weight: 700;
        @include adaptiv-value("font-size", 24, 14, 20);
        color: #232323;
        margin-bottom: 30px;
    }

    &__block {
        margin-bottom: 50px;
    }

    &__select {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        height: 40px;

        &-send,
        &-canсel {
            border-radius: 4px;
            height: 100%;
            font-weight: 400;
            max-width: 235px;
            width: 100%;
            &:focus, &:active, &:hover {
                border: none;
                box-shadow: none;
            }
        }

        &-send {
            margin-right: 15px;
            &:focus, &:active, &:hover {
                color: #fff;
            }
        }

        &-canсel {
            color: #232323;
            background: #f3f3f5;
            &:focus, &:active, &:hover {
                color: #232323;
            }
        }
    }

    .select {
        max-width: 320px;
        margin-right: 0;
        .jq-selectbox__select {
            background: #f3f3f5;
            border-radius: 4px;
            box-shadow: none;
            border-radius: inherit;
            text-shadow: inherit;
            height: 40px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .jq-selectbox .placeholder,
        .jq-selectbox__select-text {
            font-size: 15px;
            color: #232323;
        }
        .jq-selectbox ul {
            padding: 15px 0;
        }
        .jq-selectbox li {
            font-size: 16px;
            padding: 5px 15px;
        }
        .jq-selectbox li.selected {
            background: #fafafa;
            font-weight: 600;
            color: #232323;
        }
        .jq-selectbox li:hover {
            background: #fafafa;
            font-weight: 600;
            color: #232323;
        }
        .jq-selectbox__trigger-arrow {
            background-image: url("../img/popup-reg/arrow.svg");
            width: 12px;
            height: 6px;
            right: 16px;
        }
    }
}
