{%
    set news = [
        {
            img: 'article-1',
            subtitle: 'Вячеслав Василевский и&nbsp;Вискарди Андраде проведут бой 3&nbsp;мая',
            date: 'Сегодня'
        },
        {
            img: 'article-2',
            subtitle: 'Конор Макгрегор заявил, что бой с&nbsp;Порье отменен и&nbsp;хочет драться с&nbsp;кем-то другим',
            date: 'Вчера'
        },
        {
            img: 'article-3',
            subtitle: 'Девушка-боец MMA Пейдж Ванзант показала впечатляющую стойку',
            date: 'Вчера'
        },
        {
            img: 'article-4',
            subtitle: 'Диана Авсарагова в&nbsp;дебютном бою на&nbsp;Bellator нокаутировала соперницу из&nbsp;США за&nbsp;29&nbsp;секунд',
            date: '12 апреля'
        }
    ]
%}

{%
    set video = [
        {
            img: 'video-1',
            subtitle: 'Чемпионат и&nbsp;первенство Приморского края по&nbsp;смешанному боевому единоборству (ММА) 2021'
        },
        {
            img: 'video-2',
            subtitle: 'Чемпионат и&nbsp;первенство Приморского края по&nbsp;смешанному боевому единоборству (ММА) 2021'
        },
        {
            img: 'video-3',
            subtitle: 'Чемпионат и&nbsp;первенство Приморского края по&nbsp;смешанному боевому единоборству (ММА) 2021'
        },
        {
            img: 'video-4',
            subtitle: 'Чемпионат и&nbsp;первенство Приморского края по&nbsp;смешанному боевому единоборству (ММА) 2021'
        }
    ]
%}
