{% set data = [
    {
        img: 'card-1',
        number: '1',
        title: 'Хабиб<br> Нурмагомедов',
        weight: 'Полусредний'
    },
    {
        img: 'card-2',
        number: '2',
        title: 'Фёдор<br> Емельяненко',
        weight: 'Полусредний'
    },
    {
        img: 'card-3',
        number: '3',
        title: 'Пётр<br> Ян',
        weight: 'Полусредний'
    },
    {
        img: 'card-4',
        number: '4',
        title: 'Александр<br> Волков',
        weight: 'Полусредний'
    },
    {
        img: 'card-5',
        number: '5',
        title: 'Забит<br> Магомедшарипов',
        weight: 'Полусредний'
    },
    {
        img: 'card-6',
        number: '6',
        title: 'Магомед<br> Анкалаев',
        weight: 'Полусредний'
    },
    {
        img: 'card-7',
        number: '7',
        title: 'Вадим<br> Немков',
        weight: 'Полусредний'
    },
    {
        img: 'card-1',
        number: '1',
        title: 'Хабиб Нурмагомедов',
        weight: 'Полусредний'
    }
]
%}