{%
    set popular = [
        {
            subtitle: 'Стерлинг отказался от&nbsp;боя с&nbsp;Яном 15&nbsp;мая, может выбыть на&nbsp;9&nbsp;месяцев',
            date: 'Сегодня'
        },
        {
            subtitle: 'Конор МакГрегор обещает вернуться к&nbsp;олдскульной подготовке',
            date: 'Сегодня'
        },
        {
            subtitle: 'Азамат Керефов снялся с&nbsp;боя накануне турнира ACA 121',
            date: 'Вчера'
        },
        {
            subtitle: 'Джордж Сент-Пьер: Хабиб&nbsp;&mdash; самый устрашающий боец независимо от&nbsp;веса',
            date: 'Вчера'
        },
        {
            subtitle: 'Следующий бой Федора Емельяненко может пройти в&nbsp;конце лета в&nbsp;США',
            date: 'Вчера'
        },
        {
            subtitle: 'Боец ММА Плиев рассказал, как провел раунд с&nbsp;оторванным пальцем',
            date: 'Вчера'
        },
        {
            subtitle: 'Хабиб Нурмагомедов уверен, что его двоюродный брат Абубакар сможет добиться большего в&nbsp;UFC',
            date: 'Вчера'
        },
        {
            subtitle: 'СМИ: бывший чемпион UFC в&nbsp;тяжелом весе Джуниор дос Сантос покинул организацию',
            date: 'Вчера'
        },
        {
            subtitle: 'Президент UFC Уайт верит, что Хамзат Чимаев продолжит спортивную карьеру',
            date: 'Вчера'
        }
    ]
%}