{%
    set data = [
        {
            img: 'events-1',
            date: '3-6 июня &bull; Казань, Россия, Республика Татарстан, Казань, Спартаковская улица, 1',
            title: 'Чемпионат России по&nbsp;ММА среди мужчин и&nbsp;женщин'
        },
        {
            img: 'events-2',
            date: '5 июня • Las Vegas, Nevada, USA',
            title: '2021&nbsp;UFC Fight Night Marcin Tybura VS&nbsp;Walt Harris Apex'
        },
        {
            img: 'events-3',
            date: '10 июня • Atlantic City, New Jersey, United States',
            title: 'Professional Fighters League&nbsp;4 Regular Season Ocean Casino Resort'
        },
        {
            img: 'events-4',
            date: '25-28 июня • г. Ульяновск',
            title: 'Всероссийский мастерский турнир по&nbsp;ММА среди мужчин'
        }
    ]
%}