{%
    set data =  [
	{
		img: 'catalog-1',
		date: '3-6 июня',
		title: 'Чемпионат России по&nbsp;ММА среди мужчин и&nbsp;женщин',
		subtitle: 'Казань, Россия, Республика Татарстан, Казань, Спартаковская улица, 1'
	}
    ,
	{
		img: 'catalog-2',
		date: '5 июня',
		title: '2021&nbsp;UFC Fight Night Marcin Tybura VS&nbsp;Walt Harris Apex',
		subtitle: 'Las Vegas, Nevada, USA'
	}
    ,
	{
		img: 'catalog-3',
		date: '10 июня',
		title: 'Professional Fighters League&nbsp;4 Regular Season Ocean Casino Resort',
		subtitle: 'Atlantic City, New Jersey, United States'
	}
    ,
	{
		img: 'catalog-4',
		date: '25-28 июня',
		title: 'Всероссийский мастерский турнир по&nbsp;ММА среди мужчин',
		subtitle: 'г. Ульяновск'
	}
	,
		{
		img: 'catalog-1',
		date: '3-6 июня',
		title: 'Чемпионат России по&nbsp;ММА среди мужчин и&nbsp;женщин',
		subtitle: 'Кузбасс Арена г. Кемерово'
	}
    ,
	{
		img: 'catalog-2',
		date: '5 июня',
		title: '2021&nbsp;UFC Fight Night Marcin Tybura VS&nbsp;Walt Harris Apex',
		subtitle: 'Las Vegas, Nevada, USA'
	}
    ,
	{
		img: 'catalog-3',
		date: '10 июня',
		title: 'Professional Fighters League&nbsp;4 Regular Season Ocean Casino Resort',
		subtitle: 'Atlantic City, New Jersey, United States'
	}
    ,
	{
		img: 'catalog-4',
		date: '25-28 июня',
		title: 'Всероссийский мастерский турнир по&nbsp;ММА среди мужчин',
		subtitle: 'г. Ульяновск'
	}
	,
		{
		img: 'catalog-1',
		date: '3-6 июня',
		title: 'Чемпионат России по&nbsp;ММА среди мужчин и&nbsp;женщин',
		subtitle: 'Кузбасс Арена г. Кемерово'
	}
    ,
	{
		img: 'catalog-2',
		date: '5 июня',
		title: '2021&nbsp;UFC Fight Night Marcin Tybura VS&nbsp;Walt Harris Apex',
		subtitle: 'Las Vegas, Nevada, USA'
	}
    ,
	{
		img: 'catalog-3',
		date: '10 июня',
		title: 'Professional Fighters League&nbsp;4 Regular Season Ocean Casino Resort',
		subtitle: 'Atlantic City, New Jersey, United States'
	}
    ,
	{
		img: 'catalog-4',
		date: '25-28 июня',
		title: 'Всероссийский мастерский турнир по&nbsp;ММА среди мужчин',
		subtitle: 'г. Ульяновск'
	}
	,
		{
		img: 'catalog-1',
		date: '3-6 июня',
		title: 'Чемпионат России по&nbsp;ММА среди мужчин и&nbsp;женщин',
		subtitle: 'Кузбасс Арена г. Кемерово'
	}
    ,
	{
		img: 'catalog-2',
		date: '5 июня',
		title: '2021&nbsp;UFC Fight Night Marcin Tybura VS&nbsp;Walt Harris Apex',
		subtitle: 'Las Vegas, Nevada, USA'
	}
    ,
	{
		img: 'catalog-3',
		date: '10 июня',
		title: 'Professional Fighters League&nbsp;4 Regular Season Ocean Casino Resort',
		subtitle: 'Atlantic City, New Jersey, United States'
	}
    ,
	{
		img: 'catalog-4',
		date: '25-28 июня',
		title: 'Всероссийский мастерский турнир по&nbsp;ММА среди мужчин',
		subtitle: 'г. Ульяновск'
	}
]
%}