.price {
@media (max-width: 1199px) {
    padding: 50px 0;
    &__box {
        padding: 40px 30px;
    }
    &__form {
        .form {
            &__item {
                max-width: 100%;
            }
        }
    }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    padding: 30px 0;
    &__box {
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    &__title {
        font-size: 20px;
        margin-bottom: 22px;
    }

    &__subtitle {
        span {
            font-size: 16px;
        }
    }

    &__picture {
        margin-bottom: 20px;
    }

    &__form {
        .form {
            &__title {
                font-size: 20px;
            }
        }
    }
}
@media (max-width: 575px) {
}
}